# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env

# Next.js
.next/
.next-static/
out/
.next-cache/

# Logs
logs
*.log
*.log.*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Prisma
/backend/prisma/migrations/*/steps.json
/backend/prisma/migrations/*/migration.sql
/backend/prisma/dev.db
/backend/prisma/*.db

# Build outputs
backend/dist/
frontend/.vercel/
frontend/.turbo/
frontend/.next/

# IDE
.vscode/
.idea/

# Misc
coverage/
*.local

